// app global css in SCSS form
.content {
  max-width: 1600px;
  min-height: 0 !important;
}

@media (min-width: 1440px) {
  .dropdown {
    width: 275px;
  }
}
@media (max-width: 1439px) {
  .dropdown,
  .datepicker {
    width: 100%;
  }
}

.mobile-only2 {
  display: none;
  @media (max-width: 1439px) {
    display: block;
  }
}

.desktop-only {
  display: block;
  @media (max-width: 1439px) {
    display: none;
  }
}
